<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :payload %>
    <%= form.text_area :payload %>
  </div>

  <div class="field">
    <%= form.label :failing %>
    <%= form.check_box :failing %>
  </div>

  <div class="field">
    <%= form.label :delivered %>
    <%= form.check_box :delivered %>
  </div>

  <div class="field">
    <%= form.label :delivered_at %>
    <%= form.datetime_select :delivered_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
